@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
	background-color: whitesmoke;
}

main {
  width: 90%;
  margin: 0 auto;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 0.8rem;
}

img {
  max-width: 100%;
  border-radius: 15px 15px 0 0 ;
}

form {
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

form input {
  min-width: 200px;
  flex-grow: 1;
  padding: 0.15rem;
}

#loading {
  text-align: center;
}

#results {
	display: none;
  margin-top: 1rem;
}

#results h4 {
	margin-bottom: 1rem;
}

#products-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0.75rem;
	justify-content: space-between;
}

#products-wrapper .product {
	background-color: white;
	padding: 0.25rem;
	border-radius: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#products-wrapper .product p {
	flex: auto;
}

@media screen and (min-width: 768px) {
	form input{
		max-width: 450px;
	}

	main{
		max-width: 600px;
	}

	#products-wrapper {
		justify-content: center;
	}

	#products-wrapper .product {
		flex-grow: 2;
		max-width: 300px;
	}
}

@media screen and (min-width: 1024px) {
	main{
		max-width: 1000px;
	}
}